.manageAppli{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
    width: 100%;

}
.manageAppli h1{
    color: #261ACB;
    font-size: 40px;
    font-weight: 500;
   position: relative;
}


.managebox ul{
    display: flex;
   justify-content: space-between;
   /* overflow-x: scroll; */
   width: 80%;
}
.managebox li{
    margin: 2px;
    display: flex;
   justify-content:center;
   width: 25%;
}
.managebox li button{
   display: flex;
   justify-content:center;
   margin: 0;
   padding:0;
   width: 35%;
}

.managebox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}